data/train
.idea
__pycache__
pruebas
ML_landmarks_analisis.ipynb
scripts/main.py
data/keanu_landmarks.png
data/keanu_grande.jpg
data/keanu_landmarks_extras.png
keanu_gradiente.jpg
keanu_gradiente_importantes.jpg
data/test/ENDIKA.TEST.mp4
data/test/ALEX.TEST.mp4
